form {
    border: 1px solid grey;
    border-radius: .5rem;
    padding: 20px 0px;
    width: 30vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

form>h1 {
    margin-bottom: 5px;
}

form>label {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: large;
}

input {
    padding-inline-start: 20px;
    border-radius: .5rem;
    border: 1px solid grey;
    background-color: #141414;
    height: 24px;
    width: 20vw;
    margin-top: 2px;
}

form>button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #CD3761;
    border-radius: .5rem;
}

.password-container {
    position: relative;
}

.password-container>i {
    position: absolute;
    right: 25px;
    bottom: calc(25% - 1px);
}

form>button:hover {
    background-color: #cd4061;
}

.login-error-container {
    height: 18px;
    margin-bottom: 10px;
}

.errors {
    font-size: 18px;
    margin-top: 0;

    color: rgb(244, 48, 48);
}