/* TODO fix ultrawide screen rendering of inputs on all modals */
.login-signup-form {
    background-color: #141414;
    border: 1px solid grey;
    border-radius: .5rem;
    padding: 20px 0px;
    width: clamp(20vw, 565px, 95vw);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.login-signup-form>h1 {
    margin-bottom: 5px;
}

.login-signup-form>label {
    font-weight: 500;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-size: large;
}

input {
    font-size: medium;
    padding-inline-start: 20px;
    border-radius: .5rem;
    border: 1px solid grey;
    background-color: #080808;
    height: 24px;
    width: clamp(400px, 20vw, 90vw);
    margin-top: 2px;
}

.login-signup-form>button {
    font-size: large;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 50px;
    border: none;
    background-color: #CD3761;
    border-radius: .5rem;
}

.password-container {
    position: relative;
}

.password-container>i {
    position: absolute;
    right: 25px;
    bottom: calc(25% - 2px);
}

.login-signup-form>button:hover {
    background-color: #cd4061;
    cursor: pointer;
}

.login-error-container {
    height: 18px;
    margin-bottom: 10px;
}

.errors {
    font-size: 18px;
    margin-top: 0;

    color: rgb(244, 48, 48);
}

#demo-user-login {
    color: teal;
    text-decoration: underline;
    text-underline-offset: 2px;
    cursor: pointer;
}

@media (prefers-color-scheme: light) {
    .login-signup-form {
        background-color: white;
    }

    input {
        background-color: #ffffff;
    }

    .login-signup-form>button {
        color: white;
    }
}